body{
    display: flex;
    align-items: flex-start;
}

.blue{
    padding: 100px;
    background-color: rgb(75, 75, 241);
}

.yo{
    padding: 60px;
    margin: 10px;
    background-color: yellow;
}

.flex{
    display: flex;
}

.red{
    padding-bottom: 200px;
    background-color: darkred;
}



.green{
    padding-bottom: 200px;

}

.blue{
    padding-left: 100px;
}

